---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="project-grid">
  {% for post in site.teaching reversed %}
  <article class="project-card">
    <div class="project-card__header">
      <h3 class="project-card__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <span class="project-card__date">{{ post.date | date: "%b %Y" }}</span>
    </div>
    <p class="project-card__submeta">{{ post.venue }} &middot; {{ post.type }}</p>
    <div class="project-card__content">{{ post.content | markdownify }}</div>
  </article>
  {% endfor %}
</div>
